header{
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #541554;

    .nav{
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0 2rem;
        .nav__logo{
            display: flex;
            align-items: center;
            height: 100%;
            #logo-slack{
                width: 100px;
                height: 29px;
            } 
        }
        .nav__burguer{   
            display: flex;
            align-items: center;
            height: 100%;
            #img-burguer{
                height: 20px;
                width: 20px;
            }
        }
    }
    .head{
 
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                width: 90%;
                text-align: center;
                font-weight: 700;
                font-size: 38px;
                line-height: 47px ;
            }
            #p--cabecera{
                width: 90%;
                text-align: center;
                font-weight: 400;
                line-height: 23px;
                margin: 0.5rem auto 3.5rem;
            }
            p{
                width: 90%;
                text-align: center;
                font-weight: 500;
                line-height: 1.444;
                letter-spacing: -.2px;
            }
        .head__btn{
            display: flex;
            flex-direction: column;
            width: 90%;
            row-gap: 10px;
            margin-bottom: 30px;
            
            .head__btn--email{
                height: 57px;
            }
            .head__btn--google{
                background-color: #007aff;
                height: 57px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                p{
                    padding-right: 20%;
                }
            }
        }
        
        .head__vid{
            width: 390px;
            
            #head--video{
                object-fit: cover;
            }
        }
        
        #logo-google{
            height: 49px;
            width: 49px;
        }
    }
    
}
.text--yellow{
    color: #ecb22e;
}
